apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://edg-victoriametrics:8428
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 60s
      httpMethod: POST
